:root {
    --white-page: #ffffff;
    --primary-color: #ff6000;
    --secundary-color: #3E5A80;
    --soff-black: #22212175;
    --contact: #97C1D8;
    --detalle: rgb(161, 156, 156);
    --detalle-strong: rgb(65, 65, 65);
    
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}
header {
    width: 100vw;
    height: auto;
    background-color: var(--white-header);
}
main {
    width: 100vw;
    height: auto;
    background-color: var(--white-header);
}
